In [106]:
import os 
os.chdir('/Users/alisonlove/Bootcamp/House-Project4')

In [107]:
import pandas as pd
from datetime import datetime
import numpy as np

## Import and concat CSV Files

In [108]:
#relative paths to csv files
df1 = pd.read_csv('Files/2019 Sales 1-6.csv')
df2 = pd.read_csv('Files/2019 Sales 7-12.csv')
df3 = pd.read_csv('Files/2020 Sales 1-12.csv')
df4 = pd.read_csv('Files/2021 Sales 1-12.csv')
df5 = pd.read_csv('Files/2022 Sales 1-12.csv')
df6 = pd.read_csv('Files/2023 Sales 1-12.csv')

#combine files into a single df
combined_sales_df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

combined_sales_df

,Pics,MLS #,Status,Address,Subdivision Full,LvngAreaSF,YrBlt,Beds,FBths,HBths,...,Garage,Approx Lot SqFt,Price Per SQFT,Sold Price Per SQFT,Sold Price/Sqft,Total Baths,Waterfront Access,Waterfront Type,Zoning,Zip
0,//cdnparap120.paragonrels.com/ParagonImages/Pr...,LP551092,CLOSED,906 S 8th,NaN,0,1951.0,3.0,2.0,1.0,...,0.0,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,27546
1,//cdnparap120.paragonrels.com/ParagonImages/Dy...,LP552789,CLOSED,30 Dove Trail,Carolina Lakes,0,2001.0,3.0,2.0,0.0,...,2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,27332
2,https://cdn.photos.sparkplatform.com/tri/20230...,LP551084,CLOSED,7101 Young Drive,Brettonwood,0,1984.0,3.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,28311
3,https://cdn.photos.sparkplatform.com/tri/20230...,LP548345,CLOSED,215 Briarwood,Laurel Valley,0,2007.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,3,NaN,NaN,RA-20 - Re,27332
4,//cdnparap120.paragonrels.com/ParagonImages/Dy...,LP553720,CLOSED,580 New Castle Lane,Highgrove at Anderson Creek,0,2017.0,4.0,3.0,0.0,...,2.0,NaN,NaN,NaN,NaN,3,NaN,NaN,RA-20M - R,28390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136435,//cdnparap120.paragonrels.com/ParagonImages/Pr...,2529865,CLOSED,1344 Trinity Road,Not in a Subdivision,"2,712",2013.0,3.0,3.0,1.0,...,2.0,"10,454.40",$256.60,$256.60,$256.60,4,NaN,NaN,Res,27513
136436,//cdnparap120.paragonrels.com/ParagonImages/Pr...,2501273,CLOSED,27 Terraza Court,Portofino,"3,278",2023.0,4.0,3.0,0.0,...,2.0,"92,782.80",$212.32,$212.32,$212.32,3,NaN,NaN,NaN,27527
136437,//cdnparap120.paragonrels.com/ParagonImages/Pr...,2501545,CLOSED,203 Batten Hill Lane,Walnut Hall,"2,987",2023.0,3.0,3.0,1.0,...,3.0,"34,978.68",$233.01,$233.01,$233.01,4,NaN,NaN,res,27576
136438,//cdnparap120.paragonrels.com/ParagonImages/Pr...,2519789,CLOSED,2737 Longbury Drive,Brighton Ridge,"3,545",2023.0,5.0,4.0,1.0,...,3.0,"13,721.40",$196.52,$196.52,$196.52,5,NaN,NaN,NaN,27526
136439,//cdnparap120.paragonrels.com/ParagonImages/Pr...,2497873,CLOSED,687 Vine Parkway,Chatham Park,"2,813",2023.0,5.0,3.0,1.0,...,2.0,"5,662.80",$247.75,$247.75,$247.75,4,NaN,NaN,NaN,27312

## Handling null values and duplicates

In [109]:
combined_sales_df.isnull().sum()

Pics                        0
MLS #                       0
Status                      0
Address                     0
Subdivision Full         9653
LvngAreaSF                  0
YrBlt                       3
Beds                        2
FBths                       2
HBths                       2
Property Type               0
List Price                  0
Sold Price                  5
# of Rooms               3897
City                        0
County                      0
Closing Date                0
Basement                10944
Garage                   5642
Approx Lot SqFt          6264
Price Per SQFT          17237
Sold Price Per SQFT     17237
Sold Price/Sqft          1109
Total Baths                 0
Waterfront Access      135971
Waterfront Type        136020
Zoning                 108951
Zip                        20
dtype: int64

In [110]:
# drop unnecessary columns
combined_sales_df.drop(['Pics', 'MLS #', 'Status', 'Address', 'Subdivision Full', 'Price Per SQFT', 'Sold Price Per SQFT', 'Sold Price/Sqft', 'Waterfront Access', 'Zoning', 'Zip'], axis=1, inplace=True)
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,City,County,Closing Date,Basement,Garage,Approx Lot SqFt,Total Baths,Waterfront Type
0,0,1951.0,3.0,2.0,1.0,Single Family Residence,"$165,000",NaN,7,Lillington,Harnett,1/22/2019,NaN,0.0,NaN,3,NaN
1,0,2001.0,3.0,2.0,0.0,Single Family Residence,"$189,900",NaN,6,Sanford,Harnett,1/9/2019,NaN,2.0,NaN,2,NaN
2,0,1984.0,3.0,2.0,0.0,Single Family Residence,"$137,500",NaN,7,Fayetteville,Cumberland,2/15/2019,NaN,NaN,NaN,2,NaN
3,0,2007.0,3.0,2.0,1.0,Single Family Residence,"$189,000",NaN,8,Sanford,Harnett,2/4/2019,NaN,2.0,NaN,3,NaN
4,0,2017.0,4.0,3.0,0.0,Single Family Residence,"$243,900",NaN,8,Spring Lake,Harnett,1/9/2019,NaN,2.0,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136435,"2,712",2013.0,3.0,3.0,1.0,Single Family Residence,"$689,900","$695,900",9,Cary,Wake,10/11/2023,No,2.0,"10,454.40",4,NaN
136436,"3,278",2023.0,4.0,3.0,0.0,Single Family Residence,"$696,000","$696,000",10,Clayton,Johnston,9/1/2023,No,2.0,"92,782.80",3,NaN
136437,"2,987",2023.0,3.0,3.0,1.0,Single Family Residence,"$695,900","$696,000",9,Selma,Johnston,8/28/2023,No,3.0,"34,978.68",4,NaN
136438,"3,545",2023.0,5.0,4.0,1.0,Single Family Residence,"$699,660","$696,660",8,Fuquay Varina,Wake,9/7/2023,No,3.0,"13,721.40",5,NaN
136439,"2,813",2023.0,5.0,3.0,1.0,Single Family Residence,"$696,915","$696,915",8,Pittsboro,Chatham,4/6/2023,No,2.0,"5,662.80",4,NaN

In [111]:
# drop rows with missing values
combined_sales_df.dropna(subset=['YrBlt', 'Beds', 'FBths', 'HBths', 'Sold Price', 'Approx Lot SqFt', '# of Rooms'], inplace=True)
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,City,County,Closing Date,Basement,Garage,Approx Lot SqFt,Total Baths,Waterfront Type
5,0,2006.0,3.0,2.0,1.0,Single Family Residence,"$165,000",$160,7,Bunnlevel,Harnett,4/17/2019,NaN,2.0,"19,602.00",3,NaN
6,"1,156",1948.0,3.0,1.0,0.0,Single Family Residence,"$10,175","$4,200",5,Smithfield,Johnston,5/28/2019,No,0.0,"6,534.00",1,NaN
7,959,1900.0,2.0,1.0,0.0,Single Family Residence,"$16,000","$14,000",5,Henderson,Vance,2/28/2019,No,0.0,"7,840.80",1,NaN
8,904,1950.0,2.0,1.0,0.0,Single Family Residence,"$16,000","$15,000",5,Henderson,Vance,2/11/2019,No,0.0,"4,791.60",1,NaN
9,"1,440",1925.0,3.0,1.0,0.0,Single Family Residence,"$39,900","$15,000",6,Erwin,Harnett,5/20/2019,No,0.0,"10,890.00",1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136435,"2,712",2013.0,3.0,3.0,1.0,Single Family Residence,"$689,900","$695,900",9,Cary,Wake,10/11/2023,No,2.0,"10,454.40",4,NaN
136436,"3,278",2023.0,4.0,3.0,0.0,Single Family Residence,"$696,000","$696,000",10,Clayton,Johnston,9/1/2023,No,2.0,"92,782.80",3,NaN
136437,"2,987",2023.0,3.0,3.0,1.0,Single Family Residence,"$695,900","$696,000",9,Selma,Johnston,8/28/2023,No,3.0,"34,978.68",4,NaN
136438,"3,545",2023.0,5.0,4.0,1.0,Single Family Residence,"$699,660","$696,660",8,Fuquay Varina,Wake,9/7/2023,No,3.0,"13,721.40",5,NaN
136439,"2,813",2023.0,5.0,3.0,1.0,Single Family Residence,"$696,915","$696,915",8,Pittsboro,Chatham,4/6/2023,No,2.0,"5,662.80",4,NaN

In [112]:
# check for duplicate rows
combined_sales_df.duplicated().sum()

26

In [113]:
# drop duplicate rows 
combined_sales_df.drop_duplicates(inplace=True)

## Data types and column cleanup

In [114]:
# get the current year
current_year = datetime.now().year

# calculate 'age of house' dynamically
combined_sales_df['Age of House'] = current_year - combined_sales_df['YrBlt']

In [115]:
combined_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126253 entries, 5 to 136439
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   LvngAreaSF       126253 non-null  object
 1   YrBlt            126253 non-null  float64
 2   Beds             126253 non-null  float64
 3   FBths            126253 non-null  float64
 4   HBths            126253 non-null  float64
 5   Property Type    126253 non-null  object
 6   List Price       126253 non-null  object
 7   Sold Price       126253 non-null  object
 8   # of Rooms       126253 non-null  object
 9   City             126253 non-null  object
 10  County           126253 non-null  object
 11  Closing Date     126253 non-null  object
 12  Basement         120519 non-null  object
 13  Garage           125310 non-null  float64
 14  Approx Lot SqFt  126253 non-null  object
 15  Total Baths      126253 non-null  int64
 16  Waterfront Type  420 non-null     object
 17  Age of House     126253 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 18.3+ MB

In [116]:
# remove dollar signs and commas and convert to numeric
for col in ['LvngAreaSF', 'List Price', 'Sold Price', 'Approx Lot SqFt']:
    combined_sales_df[col] = combined_sales_df[col].str.replace(',', '').str.replace('$', '')
    combined_sales_df[col] = pd.to_numeric(combined_sales_df[col], errors='coerce')

# convert to numeric
combined_sales_df['# of Rooms'] = pd.to_numeric(combined_sales_df['# of Rooms'], errors='coerce')
combined_sales_df['Age of House'] = pd.to_numeric(combined_sales_df['Age of House'], errors='coerce')

#convert closing date to datetime
combined_sales_df['Closing Date'] = pd.to_datetime(combined_sales_df['Closing Date'])

In [117]:
# Basement column cleanup
#fill nulls with 0, convert to boolean
combined_sales_df['Basement'] = combined_sales_df['Basement'].replace({'No': 0, 'Yes': 1})
combined_sales_df['Basement'].fillna(0, inplace=True)
combined_sales_df['Basement'] = combined_sales_df['Basement'].astype(bool)

In [118]:
# Garage column cleanup

# fill null values with 0
combined_sales_df['Garage'].fillna(0, inplace=True)

# replace any value of 1 or higher with 1
combined_sales_df['Garage'] = combined_sales_df['Garage'].apply(lambda x: 1 if x >= 1 else 0)

# convert to boolean
combined_sales_df['Garage'] = combined_sales_df['Garage'].astype(bool)

In [119]:
# convert closing date to datetime
combined_sales_df['Closing Date'] = pd.to_datetime(combined_sales_df['Closing Date'])

In [120]:
columns_to_convert = ['YrBlt', 'Beds', 'FBths', 'HBths', '# of Rooms', 'Approx Lot SqFt', 'Total Baths', 'Age of House']

for col in columns_to_convert:
    combined_sales_df[col] = combined_sales_df[col].astype('int64', errors='ignore')

In [121]:
combined_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126253 entries, 5 to 136439
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   LvngAreaSF       126253 non-null  int64
 1   YrBlt            126253 non-null  int64
 2   Beds             126253 non-null  int64
 3   FBths            126253 non-null  int64
 4   HBths            126253 non-null  int64
 5   Property Type    126253 non-null  object
 6   List Price       126253 non-null  int64
 7   Sold Price       126253 non-null  int64
 8   # of Rooms       126242 non-null  float64
 9   City             126253 non-null  object
 10  County           126253 non-null  object
 11  Closing Date     126253 non-null  datetime64[ns]
 12  Basement         126253 non-null  bool
 13  Garage           126253 non-null  bool
 14  Approx Lot SqFt  126253 non-null  int64
 15  Total Baths      126253 non-null  int64
 16  Waterfront Type  420 non-null     object
 17  Age of House     126253 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(1), int64(10), object(4)
memory usage: 16.6+ MB

In [122]:
# get the current year
current_year = datetime.now().year

# calculate 'age of house' dynamically
combined_sales_df['Age of House'] = current_year - combined_sales_df['YrBlt']

In [123]:
# create a new column calculating price/sqft
combined_sales_df['Price/SqFt'] = combined_sales_df['Sold Price'] / combined_sales_df['LvngAreaSF']

In [124]:
# create a calculated price/sqft column
combined_sales_df['Price/SqFt'] = combined_sales_df['Sold Price'] / combined_sales_df['LvngAreaSF']

In [125]:
combined_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 126253 entries, 5 to 136439
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   LvngAreaSF       126253 non-null  int64
 1   YrBlt            126253 non-null  int64
 2   Beds             126253 non-null  int64
 3   FBths            126253 non-null  int64
 4   HBths            126253 non-null  int64
 5   Property Type    126253 non-null  object
 6   List Price       126253 non-null  int64
 7   Sold Price       126253 non-null  int64
 8   # of Rooms       126242 non-null  float64
 9   City             126253 non-null  object
 10  County           126253 non-null  object
 11  Closing Date     126253 non-null  datetime64[ns]
 12  Basement         126253 non-null  bool
 13  Garage           126253 non-null  bool
 14  Approx Lot SqFt  126253 non-null  int64
 15  Total Baths      126253 non-null  int64
 16  Waterfront Type  420 non-null     object
 17  Age of House     126253 non-null  int64
 18  Price/SqFt       126253 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(10), object(4)
memory usage: 17.6+ MB

In [126]:
# handle inf values in price/sqft
combined_sales_df['Price/SqFt'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [127]:
# treat objects as proper nouns for consistency
combined_sales_df.loc[:, 'City'] = combined_sales_df['City'].str.title()
combined_sales_df.loc[:, 'County'] = combined_sales_df['County'].str.title()

In [128]:
# eliminate rows where the list price and sold price are drastically different (potential outliers)
# Create a mask for sales where the sold price is more than $50,000 less than the list price
mask = combined_sales_df['Sold Price'] >= (combined_sales_df['List Price'] - 50000)

# Apply the mask to the DataFrame to filter out the rows that do not meet the condition
combined_sales_df = combined_sales_df[mask]

In [129]:
unique_waterfront_types = combined_sales_df['Waterfront Type'].unique()
print(unique_waterfront_types)

[nan 'Lake' 'Pond' 'River' 'Stream/Creek/Brook' 'Reservoir' 'Marsh']

In [130]:
# convert 'Waterfront Type' into a boolean columnn where lake and river are true and everything else is false
combined_sales_df.loc[:, 'Waterfront Type'] = combined_sales_df['Waterfront Type'].isin(['Lake', 'River']).astype(bool)

In [131]:
combined_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 125396 entries, 6 to 136439
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   LvngAreaSF       125396 non-null  int64
 1   YrBlt            125396 non-null  int64
 2   Beds             125396 non-null  int64
 3   FBths            125396 non-null  int64
 4   HBths            125396 non-null  int64
 5   Property Type    125396 non-null  object
 6   List Price       125396 non-null  int64
 7   Sold Price       125396 non-null  int64
 8   # of Rooms       125386 non-null  float64
 9   City             125396 non-null  object
 10  County           125396 non-null  object
 11  Closing Date     125396 non-null  datetime64[ns]
 12  Basement         125396 non-null  bool
 13  Garage           125396 non-null  bool
 14  Approx Lot SqFt  125396 non-null  int64
 15  Total Baths      125396 non-null  int64
 16  Waterfront Type  125396 non-null  object
 17  Age of House     125396 non-null  int64
 18  Price/SqFt       118166 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(10), object(4)
memory usage: 17.5+ MB

In [132]:
# making an explicit copy to avoid SettingWithCopyWarning
combined_sales_df = combined_sales_df.copy()

In [133]:
# rename columns to reflect their boolean nature
combined_sales_df.rename(columns={
    'Garage': 'Has Garage',
    'Basement': 'Has Basement',
    'Waterfront Type': 'Lake/River Waterfront'
}, inplace=True)

In [134]:
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,City,County,Closing Date,Has Basement,Has Garage,Approx Lot SqFt,Total Baths,Lake/River Waterfront,Age of House,Price/SqFt
6,1156,1948,3,1,0,Single Family Residence,10175,4200,5.0,Smithfield,Johnston,2019-05-28,False,False,6534,1,False,76,3.633218
7,959,1900,2,1,0,Single Family Residence,16000,14000,5.0,Henderson,Vance,2019-02-28,False,False,7840,1,False,124,14.598540
8,904,1950,2,1,0,Single Family Residence,16000,15000,5.0,Henderson,Vance,2019-02-11,False,False,4791,1,False,74,16.592920
9,1440,1925,3,1,0,Single Family Residence,39900,15000,6.0,Erwin,Harnett,2019-05-20,False,False,10890,1,False,99,10.416667
10,1220,1930,3,1,0,Single Family Residence,19000,15000,7.0,Smithfield,Johnston,2019-05-01,False,False,14374,1,False,94,12.295082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136435,2712,2013,3,3,1,Single Family Residence,689900,695900,9.0,Cary,Wake,2023-10-11,False,True,10454,4,False,11,256.600295
136436,3278,2023,4,3,0,Single Family Residence,696000,696000,10.0,Clayton,Johnston,2023-09-01,False,True,92782,3,False,1,212.324588
136437,2987,2023,3,3,1,Single Family Residence,695900,696000,9.0,Selma,Johnston,2023-08-28,False,True,34978,4,False,1,233.009709
136438,3545,2023,5,4,1,Single Family Residence,699660,696660,8.0,Fuquay Varina,Wake,2023-09-07,False,True,13721,5,False,1,196.519041
136439,2813,2023,5,3,1,Single Family Residence,696915,696915,8.0,Pittsboro,Chatham,2023-04-06,False,True,5662,4,False,1,247.747956

In [135]:
# create calculations for selling vs list price difference and ratio
combined_sales_df['Price Difference'] = combined_sales_df['List Price'] - combined_sales_df['Sold Price']
combined_sales_df['Price Ratio'] = combined_sales_df['Sold Price'] / combined_sales_df['List Price']

In [136]:
unique_property_types = combined_sales_df['Property Type'].unique()
print(unique_property_types)

['Single Family Residence']

In [137]:
unique_counties = combined_sales_df['County'].unique()
print(unique_counties)

['Johnston' 'Vance' 'Harnett' 'Lee' 'Warren' 'Alamance' 'Chatham'
 'Cumberland' 'Franklin' 'Person' 'Orange' 'Wake' 'Edgecombe' 'Caswell'
 'Wilson' 'Sampson' 'Nash' 'Wayne' 'Durham' 'Granville' 'Other' 'Moore'
 'Randolph' 'Kerr Lake' 'Graham' 'Cleveland' 'Hoke' 'Guilford' 'Jones'
 'Wilkes' 'Bladen' 'Halifax' 'Out Of Area' 'Gaston']

In [138]:
# drop out of area county values
combined_sales_df = combined_sales_df.loc[combined_sales_df['County'] != 'Out Of Area']

In [139]:
unique_cities = combined_sales_df['City'].unique()
print(unique_cities)

['Smithfield' 'Henderson' 'Erwin' 'Sanford' 'Warrenton' 'Benson' 'Dunn'
 'Burlington' 'Goldston' 'Spring Lake' 'Louisburg' 'Roxboro' 'Bunnlevel'
 'Mebane' 'Zebulon' 'Rocky Mount' 'Timberlake' 'Leasburg' 'Wilson'
 'Spring Hope' 'Wade' 'Selma' 'Angier' 'Kenly' 'Goldsboro' 'Fayetteville'
 'Micro' 'Durham' 'Oxford' 'Wake Forest' 'Moncure' 'Knightdale' 'Broadway'
 'Graham' 'Raleigh' 'Franklinton' 'Siler City' 'Creedmoor' 'Cameron'
 'Butner' 'Bear Creek' 'Gulf' 'Four Oaks' 'Stovall' 'Clayton' 'Lillington'
 'Garner' 'Middlesex' 'Wendell' 'Linden' 'Norlina' 'Hillsborough'
 'Fuquay Varina' 'Newton Grove' 'Cedar Grove' 'Fremont' 'Morrisville'
 'Coats' 'Holly Springs' 'Eastover' 'Haw River' 'Willow Springs'
 'Pine Level' 'Apex' 'Dudley' 'Nashville' 'Bunn' 'Pikeville' 'Sharpsburg'
 'Princeton' 'Chapel Hill' 'New Hill' 'Youngsville' 'Hurdle Mills'
 'Manson' 'Bailey' 'Vass' 'Snow Camp' 'Kittrell' 'Liberty' 'Pittsboro'
 'Rougemont' 'Elm City' 'Stem' 'Bahama' 'Whitakers' 'Carthage' 'Bullock'
 'Rolesville' 'Cary' 'Carrboro' 'Franklin' 'Efland' 'Green Level' 'Godwin'
 'Autryville' 'Red Oak' 'Battleboro' 'Sims' 'Mooresville' 'Holly Ridge'
 'Castalia' 'Bonlee' 'Staley' 'Prospect Hill' 'Roseboro' 'Mount Olive'
 'Archer Lodge' 'Alamance' 'Chatham' 'Lucama' 'Yanceyville' 'Clinton'
 'Falcon' 'Elon' 'Wilsons Mills' 'Black Creek' 'Stantonsburg' 'Ridgeway'
 'Salemburg' 'Hollister' 'Swepsonville' 'Other' 'Harnett County' 'Stedman'
 'Centerville']

In [140]:
combined_sales_df = pd.get_dummies(combined_sales_df, columns=['City', 'County'])

In [141]:
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,Closing Date,...,County_Other,County_Person,County_Randolph,County_Sampson,County_Vance,County_Wake,County_Warren,County_Wayne,County_Wilkes,County_Wilson
6,1156,1948,3,1,0,Single Family Residence,10175,4200,5.0,2019-05-28,...,False,False,False,False,False,False,False,False,False,False
7,959,1900,2,1,0,Single Family Residence,16000,14000,5.0,2019-02-28,...,False,False,False,False,True,False,False,False,False,False
8,904,1950,2,1,0,Single Family Residence,16000,15000,5.0,2019-02-11,...,False,False,False,False,True,False,False,False,False,False
9,1440,1925,3,1,0,Single Family Residence,39900,15000,6.0,2019-05-20,...,False,False,False,False,False,False,False,False,False,False
10,1220,1930,3,1,0,Single Family Residence,19000,15000,7.0,2019-05-01,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136435,2712,2013,3,3,1,Single Family Residence,689900,695900,9.0,2023-10-11,...,False,False,False,False,False,True,False,False,False,False
136436,3278,2023,4,3,0,Single Family Residence,696000,696000,10.0,2023-09-01,...,False,False,False,False,False,False,False,False,False,False
136437,2987,2023,3,3,1,Single Family Residence,695900,696000,9.0,2023-08-28,...,False,False,False,False,False,False,False,False,False,False
136438,3545,2023,5,4,1,Single Family Residence,699660,696660,8.0,2023-09-07,...,False,False,False,False,False,True,False,False,False,False
136439,2813,2023,5,3,1,Single Family Residence,696915,696915,8.0,2023-04-06,...,False,False,False,False,False,False,False,False,False,False

In [142]:
combined_sales_df.reset_index(drop=True, inplace=True)
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,Closing Date,...,County_Other,County_Person,County_Randolph,County_Sampson,County_Vance,County_Wake,County_Warren,County_Wayne,County_Wilkes,County_Wilson
0,1156,1948,3,1,0,Single Family Residence,10175,4200,5.0,2019-05-28,...,False,False,False,False,False,False,False,False,False,False
1,959,1900,2,1,0,Single Family Residence,16000,14000,5.0,2019-02-28,...,False,False,False,False,True,False,False,False,False,False
2,904,1950,2,1,0,Single Family Residence,16000,15000,5.0,2019-02-11,...,False,False,False,False,True,False,False,False,False,False
3,1440,1925,3,1,0,Single Family Residence,39900,15000,6.0,2019-05-20,...,False,False,False,False,False,False,False,False,False,False
4,1220,1930,3,1,0,Single Family Residence,19000,15000,7.0,2019-05-01,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125390,2712,2013,3,3,1,Single Family Residence,689900,695900,9.0,2023-10-11,...,False,False,False,False,False,True,False,False,False,False
125391,3278,2023,4,3,0,Single Family Residence,696000,696000,10.0,2023-09-01,...,False,False,False,False,False,False,False,False,False,False
125392,2987,2023,3,3,1,Single Family Residence,695900,696000,9.0,2023-08-28,...,False,False,False,False,False,False,False,False,False,False
125393,3545,2023,5,4,1,Single Family Residence,699660,696660,8.0,2023-09-07,...,False,False,False,False,False,True,False,False,False,False
125394,2813,2023,5,3,1,Single Family Residence,696915,696915,8.0,2023-04-06,...,False,False,False,False,False,False,False,False,False,False

## Handling outliers

In [143]:
print(combined_sales_df.describe())

          LvngAreaSF          YrBlt           Beds          FBths  \
count  125395.000000  125395.000000  125395.000000  125395.000000
mean     1944.764424    1998.275450       3.376490       2.191826
min         0.000000       0.000000       0.000000       0.000000
25%      1425.000000    1987.000000       3.000000       2.000000
50%      1911.000000    2004.000000       3.000000       2.000000
75%      2457.000000    2019.000000       4.000000       2.000000
max      9775.000000   20211.000000      43.000000     101.000000
std       864.186285      79.803777       0.747304       0.711429

               HBths    List Price    Sold Price     # of Rooms  \
count  125395.000000  1.253950e+05  1.253950e+05  125385.000000
mean        0.490227  3.290237e+05  3.306372e+05       7.620226
min         0.000000  9.000000e+03  4.200000e+03       0.000000
25%         0.000000  2.400000e+05  2.430000e+05       6.000000
50%         0.000000  3.149000e+05  3.158000e+05       7.000000
75%         1.000000  3.949000e+05  3.950000e+05       9.000000
max       110.000000  2.878575e+06  2.998000e+06     750.000000
std         0.601453  1.338402e+05  1.339792e+05       2.989264

                        Closing Date  Approx Lot SqFt    Total Baths  \
count                         125395     1.253950e+05  125395.000000
mean   2021-05-05 16:31:17.816499712     2.378157e+05       2.682053
min              2019-01-02 00:00:00     0.000000e+00       0.000000
25%              2019-12-05 00:00:00     8.276000e+03       2.000000
50%              2021-04-27 00:00:00     1.350300e+04       3.000000
75%              2022-08-17 00:00:00     2.692000e+04       3.000000
max              2023-12-31 00:00:00     5.364414e+09     112.000000
std                              NaN     2.379514e+07       0.908219

        Age of House     Price/SqFt  Price Difference    Price Ratio
count  125395.000000  118165.000000     125395.000000  125395.000000
mean       25.724550     191.700481      -1613.457243       1.005085
min    -18187.000000       3.633218    -331000.000000       0.200000
25%         5.000000     131.049888      -5000.000000       0.985366
50%        20.000000     159.429092          0.000000       1.000000
75%        37.000000     197.368421       4900.000000       1.016835
max      2024.000000  385000.000000      50000.000000      10.213552
std        79.803777    2450.542331      15562.460690       0.061365

In [144]:
combined_sales_df = combined_sales_df[(combined_sales_df['YrBlt'] >= 1800) & (combined_sales_df['YrBlt'] <= 2024)]

In [145]:
# Example: Removing rows with `YrBlt` in the future or at 0
current_year = pd.Timestamp.now().year
combined_sales_df = combined_sales_df[(combined_sales_df['YrBlt'] > 0) & (combined_sales_df['YrBlt'] <= current_year)]

# Recalculate 'Age of House'
combined_sales_df['Age of House'] = current_year - combined_sales_df['YrBlt']

In [146]:
# Filter DataFrame for bedrooms and bathrooms within the specified range
filtered_df = combined_sales_df[
    (combined_sales_df['Beds'] >= 1) & (combined_sales_df['Beds'] <= 10) &
    (combined_sales_df['FBths'] >= 1) &
    ((combined_sales_df['FBths'] + combined_sales_df['HBths']) <= 10)
]

# Assign the filtered DataFrame back to combined_sales_df
combined_sales_df = filtered_df.copy()

# Reset the index after filtering
combined_sales_df.reset_index(drop=True, inplace=True)

In [147]:
print(combined_sales_df.describe())

          LvngAreaSF          YrBlt           Beds          FBths  \
count  125285.000000  125285.000000  125285.000000  125285.000000
mean     1945.107531    1998.262905       3.376669       2.191851
min         0.000000    1800.000000       1.000000       1.000000
25%      1425.000000    1987.000000       3.000000       2.000000
50%      1911.000000    2004.000000       3.000000       2.000000
75%      2458.000000    2019.000000       4.000000       2.000000
max      9775.000000    2024.000000      10.000000       8.000000
std       864.045143      24.532705       0.718981       0.647232

               HBths    List Price    Sold Price     # of Rooms  \
count  125285.000000  1.252850e+05  1.252850e+05  125275.000000
mean        0.489101  3.291024e+05  3.307204e+05       7.622071
min         0.000000  9.000000e+03  4.200000e+03       0.000000
25%         0.000000  2.400000e+05  2.430000e+05       6.000000
50%         0.000000  3.149000e+05  3.159150e+05       7.000000
75%         1.000000  3.949000e+05  3.950000e+05       9.000000
max         8.000000  2.878575e+06  2.998000e+06     750.000000
std         0.513307  1.338020e+05  1.339347e+05       2.988184

                        Closing Date  Approx Lot SqFt    Total Baths  \
count                         125285     1.252850e+05  125285.000000
mean   2021-05-05 14:27:23.440156416     2.379792e+05       2.680951
min              2019-01-02 00:00:00     0.000000e+00       1.000000
25%              2019-12-05 00:00:00     8.276000e+03       2.000000
50%              2021-04-27 00:00:00     1.350300e+04       3.000000
75%              2022-08-17 00:00:00     2.683200e+04       3.000000
max              2023-12-31 00:00:00     5.364414e+09      10.000000
std                              NaN     2.380559e+07       0.799926

        Age of House     Price/SqFt  Price Difference    Price Ratio
count  125285.000000  118065.000000     125285.000000  125285.000000
mean       25.737095     190.752356      -1617.931971       1.005126
min         0.000000       3.633218    -331000.000000       0.200000
25%         5.000000     131.072056      -5000.000000       0.985369
50%        20.000000     159.437751          0.000000       1.000000
75%        37.000000     197.388400       4900.000000       1.016839
max       224.000000  385000.000000      50000.000000      10.213552
std        24.532705    2433.787984      15561.084506       0.061285

In [160]:
# Assuming a realistic maximum of 20 rooms for analysis
combined_sales_df = combined_sales_df[combined_sales_df['# of Rooms'] >= 2]
combined_sales_df = combined_sales_df[combined_sales_df['# of Rooms'] <= 20]

In [149]:
# Example threshold might need adjustment based on further analysis
max_lot_sqft_threshold = 1e6  # Example threshold for maximum lot size

combined_sales_df = combined_sales_df[
    (combined_sales_df['LvngAreaSF'] > 50) &
    (combined_sales_df['Approx Lot SqFt'] > 50) &
    (combined_sales_df['Approx Lot SqFt'] < max_lot_sqft_threshold)
]

In [150]:
print(combined_sales_df.describe())

          LvngAreaSF          YrBlt           Beds          FBths  \
count  117730.000000  117730.000000  117730.000000  117730.000000
mean     2064.278162    1998.204340       3.374501       2.194233
min       136.000000    1800.000000       1.000000       1.000000
25%      1512.000000    1987.000000       3.000000       2.000000
50%      1973.000000    2004.000000       3.000000       2.000000
75%      2495.000000    2019.000000       4.000000       2.000000
max      9775.000000    2024.000000      10.000000       8.000000
std       737.056241      24.631198       0.720622       0.651807

               HBths    List Price    Sold Price     # of Rooms  \
count  117730.000000  1.177300e+05  1.177300e+05  117730.000000
mean        0.486783  3.336230e+05  3.353297e+05       7.634367
min         0.000000  9.000000e+03  4.200000e+03       0.000000
25%         0.000000  2.465135e+05  2.475000e+05       6.000000
50%         0.000000  3.190000e+05  3.200000e+05       7.000000
75%         1.000000  3.990000e+05  3.999000e+05       9.000000
max         6.000000  2.878575e+06  2.998000e+06      20.000000
std         0.512713  1.343386e+05  1.344396e+05       2.026691

                        Closing Date  Approx Lot SqFt    Total Baths  \
count                         117730    117730.000000  117730.000000
mean   2021-05-01 23:07:02.288286720     25713.126170       2.681016
min              2019-01-02 00:00:00        87.000000       1.000000
25%              2019-11-27 00:00:00      8232.000000       2.000000
50%              2021-04-20 00:00:00     13068.000000       3.000000
75%              2022-08-18 00:00:00     26571.000000       3.000000
max              2023-12-31 00:00:00    997524.000000       9.000000
std                              NaN     48787.351167       0.803498

        Age of House     Price/SqFt  Price Difference    Price Ratio
count  117730.000000  117730.000000     117730.000000  117730.000000
mean       25.795660     167.736915      -1706.769014       1.005427
min         0.000000       3.633218    -331000.000000       0.200000
25%         5.000000     131.081573      -5000.000000       0.985290
50%        20.000000     159.431624          0.000000       1.000000
75%        37.000000     197.324178       4900.750000       1.016949
max       224.000000    1586.800000      50000.000000      10.213552
std        24.631198      54.558419      15813.019931       0.061085

In [151]:
combined_sales_df = combined_sales_df[(combined_sales_df['YrBlt'] >= 1800) & (combined_sales_df['YrBlt'] <= 2024)]

In [152]:
# eliminate outliers in price/sqft

# calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = combined_sales_df['Price/SqFt'].quantile(0.25)
Q3 = combined_sales_df['Price/SqFt'].quantile(0.75)

# calculate IQR
IQR = Q3 - Q1

# define upper and lower bounds for outliers
upper_bound = Q3 + 1.5 * IQR
lower_bound = Q1 - 1.5 * IQR

# identify outliers
outliers = combined_sales_df[(combined_sales_df['Price/SqFt'] < lower_bound) | (combined_sales_df['Price/SqFt'] > upper_bound)]

# print the outliers
print("Outliers:")
print(outliers)

# remove outliers from the DataFrame
combined_sales_df = combined_sales_df[(combined_sales_df['Price/SqFt'] >= lower_bound) & (combined_sales_df['Price/SqFt'] <= upper_bound)]

Outliers:
        LvngAreaSF  YrBlt  Beds  FBths  HBths            Property Type  \
0             1156   1948     3      1      0  Single Family Residence
1              959   1900     2      1      0  Single Family Residence
2              904   1950     2      1      0  Single Family Residence
3             1440   1925     3      1      0  Single Family Residence
4             1220   1930     3      1      0  Single Family Residence
...            ...    ...   ...    ...    ...                      ...
125229        2270   2022     3      2      0  Single Family Residence
125235        2206   1966     3      2      0  Single Family Residence
125244        1616   2017     3      2      1  Single Family Residence
125252        1889   1956     3      3      0  Single Family Residence
125258        1811   1946     4      2      0  Single Family Residence

        List Price  Sold Price  # of Rooms Closing Date  ...  County_Other  \
0            10175        4200         5.0   2019-05-28  ...         False
1            16000       14000         5.0   2019-02-28  ...         False
2            16000       15000         5.0   2019-02-11  ...         False
3            39900       15000         6.0   2019-05-20  ...         False
4            19000       15000         7.0   2019-05-01  ...         False
...            ...         ...         ...          ...  ...           ...
125229      693831      693831         7.0   2023-11-06  ...         False
125235      379000      694575         6.0   2023-10-06  ...         False
125244      695000      695000        11.0   2023-05-22  ...         False
125252      615000      695000         7.0   2023-07-18  ...         False
125258      695000      695000         7.0   2023-07-18  ...         False

        County_Person  County_Randolph  County_Sampson County_Vance  \
0               False            False           False        False
1               False            False           False         True
2               False            False           False         True
3               False            False           False        False
4               False            False           False        False
...               ...              ...             ...          ...
125229          False            False           False        False
125235          False            False           False        False
125244          False            False           False        False
125252          False            False           False        False
125258          False            False           False        False

        County_Wake  County_Warren  County_Wayne  County_Wilkes  County_Wilson
0             False          False         False          False          False
1             False          False         False          False          False
2             False          False         False          False          False
3             False          False         False          False          False
4             False          False         False          False          False
...             ...            ...           ...            ...            ...
125229         True          False         False          False          False
125235         True          False         False          False          False
125244        False          False         False          False          False
125252        False          False         False          False          False
125258         True          False         False          False          False

[2901 rows x 178 columns]

In [156]:
print(combined_sales_df.describe())

          LvngAreaSF          YrBlt           Beds          FBths  \
count  114829.000000  114829.000000  114829.000000  114829.000000
mean     2080.674455    1998.865461       3.390076       2.205610
min       348.000000    1800.000000       1.000000       1.000000
25%      1531.000000    1988.000000       3.000000       2.000000
50%      1995.000000    2005.000000       3.000000       2.000000
75%      2506.000000    2019.000000       4.000000       2.000000
max      9775.000000    2024.000000      10.000000       8.000000
std       731.685960      24.062355       0.714920       0.648113

               HBths    List Price    Sold Price     # of Rooms  \
count  114829.000000  1.148290e+05  1.148290e+05  114829.000000
mean        0.493307  3.314334e+05  3.328452e+05       7.669805
min         0.000000  2.315600e+04  2.100000e+04       0.000000
25%         0.000000  2.450000e+05  2.460000e+05       6.000000
50%         0.000000  3.150000e+05  3.199000e+05       7.000000
75%         1.000000  3.950000e+05  3.954000e+05       9.000000
max         6.000000  1.950000e+06  1.950000e+06      20.000000
std         0.512770  1.300684e+05  1.298436e+05       2.021845

                        Closing Date  Approx Lot SqFt    Total Baths  \
count                         114829    114829.000000  114829.000000
mean   2021-04-22 20:52:50.084211968     25658.031064       2.698918
min              2019-01-02 00:00:00        87.000000       1.000000
25%              2019-11-22 00:00:00      8276.000000       2.000000
50%              2021-04-06 00:00:00     13068.000000       3.000000
75%              2022-08-08 00:00:00     27007.000000       3.000000
max              2023-12-29 00:00:00    997524.000000       9.000000
std                              NaN     47685.759551       0.794011

        Age of House     Price/SqFt  Price Difference    Price Ratio
count  114829.000000  114829.000000     114829.000000  114829.000000
mean       25.134539     163.988954      -1411.834737       1.004956
min         0.000000      31.721915    -331000.000000       0.437500
25%         5.000000     130.601793      -5000.000000       0.985294
50%        19.000000     158.182640          0.000000       1.000000
75%        36.000000     194.300518       4900.000000       1.016129
max       224.000000     296.662546      50000.000000      10.213552
std        24.062355      46.816576      15041.248370       0.059182

In [157]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile) for List Price
Q1_list_price = combined_sales_df['List Price'].quantile(0.25)
Q3_list_price = combined_sales_df['List Price'].quantile(0.75)

# Calculate IQR for List Price
IQR_list_price = Q3_list_price - Q1_list_price

# Define upper and lower bounds for outliers for List Price
upper_bound_list_price = Q3_list_price + 1.5 * IQR_list_price
lower_bound_list_price = Q1_list_price - 1.5 * IQR_list_price

# Identify outliers for List Price
outliers_list_price = combined_sales_df[(combined_sales_df['List Price'] < lower_bound_list_price) | (combined_sales_df['List Price'] > upper_bound_list_price)]

# Calculate Q1 (25th percentile) and Q3 (75th percentile) for Sold Price
Q1_sold_price = combined_sales_df['Sold Price'].quantile(0.25)
Q3_sold_price = combined_sales_df['Sold Price'].quantile(0.75)

# Calculate IQR for Sold Price
IQR_sold_price = Q3_sold_price - Q1_sold_price

# Define upper and lower bounds for outliers for Sold Price
upper_bound_sold_price = Q3_sold_price + 1.5 * IQR_sold_price
lower_bound_sold_price = Q1_sold_price - 1.5 * IQR_sold_price

# Identify outliers for Sold Price
outliers_sold_price = combined_sales_df[(combined_sales_df['Sold Price'] < lower_bound_sold_price) | (combined_sales_df['Sold Price'] > upper_bound_sold_price)]

# Print the outliers for List Price and Sold Price
print("Outliers for List Price:")
print(outliers_list_price)
print("\nOutliers for Sold Price:")
print(outliers_sold_price)

# Remove outliers from the DataFrame for List Price and Sold Price
combined_sales_df = combined_sales_df[(combined_sales_df['List Price'] >= lower_bound_list_price) & (combined_sales_df['List Price'] <= upper_bound_list_price)]
combined_sales_df = combined_sales_df[(combined_sales_df['Sold Price'] >= lower_bound_sold_price) & (combined_sales_df['Sold Price'] <= upper_bound_sold_price)]

Outliers for List Price:
        LvngAreaSF  YrBlt  Beds  FBths  HBths            Property Type  \
14800         2240   1910     3      2      1  Single Family Residence
14878         3296   1962     3      3      1  Single Family Residence
14931         3847   1991     4      3      1  Single Family Residence
14944         4375   1964     4      4      0  Single Family Residence
14952         4133   1998     5      4      1  Single Family Residence
...            ...    ...   ...    ...    ...                      ...
125280        2712   2013     3      3      1  Single Family Residence
125281        3278   2023     4      3      0  Single Family Residence
125282        2987   2023     3      3      1  Single Family Residence
125283        3545   2023     5      4      1  Single Family Residence
125284        2813   2023     5      3      1  Single Family Residence

        List Price  Sold Price  # of Rooms Closing Date  ...  County_Other  \
14800       624900      575000         7.0   2019-04-11  ...         False
14878       635000      585000        11.0   2019-03-05  ...         False
14931       625000      590000        10.0   2019-03-15  ...         False
14944       625000      592500        11.0   2019-02-04  ...         False
14952       625000      594300        12.0   2019-03-15  ...         False
...            ...         ...         ...          ...  ...           ...
125280      689900      695900         9.0   2023-10-11  ...         False
125281      696000      696000        10.0   2023-09-01  ...         False
125282      695900      696000         9.0   2023-08-28  ...         False
125283      699660      696660         8.0   2023-09-07  ...         False
125284      696915      696915         8.0   2023-04-06  ...         False

        County_Person  County_Randolph  County_Sampson County_Vance  \
14800           False            False           False        False
14878           False            False           False        False
14931           False            False           False        False
14944           False            False           False        False
14952           False            False           False        False
...               ...              ...             ...          ...
125280          False            False           False        False
125281          False            False           False        False
125282          False            False           False        False
125283          False            False           False        False
125284          False            False           False        False

        County_Wake  County_Warren  County_Wayne  County_Wilkes  County_Wilson
14800         False          False         False          False          False
14878          True          False         False          False          False
14931          True          False         False          False          False
14944          True          False         False          False          False
14952          True          False         False          False          False
...             ...            ...           ...            ...            ...
125280         True          False         False          False          False
125281        False          False         False          False          False
125282        False          False         False          False          False
125283         True          False         False          False          False
125284        False          False         False          False          False

[3441 rows x 178 columns]

Outliers for Sold Price:
        LvngAreaSF  YrBlt  Beds  FBths  HBths            Property Type  \
15096         3333   2018     5      4      0  Single Family Residence
15097         3056   2018     4      3      0  Single Family Residence
15098         5472   1992     4      4      0  Single Family Residence
15099         5014   2003     5      4      1  Single Family Residence
15100         3594   2019     5      4      0  Single Family Residence
...            ...    ...   ...    ...    ...                      ...
125280        2712   2013     3      3      1  Single Family Residence
125281        3278   2023     4      3      0  Single Family Residence
125282        2987   2023     3      3      1  Single Family Residence
125283        3545   2023     5      4      1  Single Family Residence
125284        2813   2023     5      3      1  Single Family Residence

        List Price  Sold Price  # of Rooms Closing Date  ...  County_Other  \
15096       614985      619525         9.0   2019-01-24  ...         False
15097       619900      619900        15.0   2019-03-15  ...         False
15098       643000      620000        14.0   2019-02-08  ...         False
15099       630000      620000        12.0   2019-04-16  ...         False
15100       637900      620000        11.0   2019-05-24  ...         False
...            ...         ...         ...          ...  ...           ...
125280      689900      695900         9.0   2023-10-11  ...         False
125281      696000      696000        10.0   2023-09-01  ...         False
125282      695900      696000         9.0   2023-08-28  ...         False
125283      699660      696660         8.0   2023-09-07  ...         False
125284      696915      696915         8.0   2023-04-06  ...         False

        County_Person  County_Randolph  County_Sampson County_Vance  \
15096           False            False           False        False
15097           False            False           False        False
15098           False            False           False        False
15099           False            False           False        False
15100           False            False           False        False
...               ...              ...             ...          ...
125280          False            False           False        False
125281          False            False           False        False
125282          False            False           False        False
125283          False            False           False        False
125284          False            False           False        False

        County_Wake  County_Warren  County_Wayne  County_Wilkes  County_Wilson
15096          True          False         False          False          False
15097          True          False         False          False          False
15098          True          False         False          False          False
15099         False          False         False          False          False
15100          True          False         False          False          False
...             ...            ...           ...            ...            ...
125280         True          False         False          False          False
125281        False          False         False          False          False
125282        False          False         False          False          False
125283         True          False         False          False          False
125284        False          False         False          False          False

[3440 rows x 178 columns]

In [159]:
print(combined_sales_df.describe())

          LvngAreaSF          YrBlt           Beds          FBths  \
count  111174.000000  111174.000000  111174.000000  111174.000000
mean     2029.195603    1998.600752       3.359580       2.165866
min       348.000000    1800.000000       1.000000       1.000000
25%      1517.000000    1988.000000       3.000000       2.000000
50%      1960.000000    2004.000000       3.000000       2.000000
75%      2455.000000    2019.000000       4.000000       2.000000
max      7349.000000    2024.000000      10.000000       6.000000
std       661.887002      24.156994       0.691939       0.597003

               HBths     List Price     Sold Price     # of Rooms  \
count  111174.000000  111174.000000  111174.000000  111174.000000
mean        0.486598  318664.798046  320251.683244       7.572553
min         0.000000   23156.000000   22500.000000       0.000000
25%         0.000000  242000.000000  244000.000000       6.000000
50%         0.000000  310000.000000  315000.000000       7.000000
75%         1.000000  385000.000000  388000.000000       9.000000
max         6.000000  620000.000000  619450.000000      20.000000
std         0.509854  108182.279584  108647.997042       1.936514

                        Closing Date  Approx Lot SqFt    Total Baths  \
count                         111174    111174.000000  111174.000000
mean   2021-04-22 23:07:09.963840768     25352.965837       2.652464
min              2019-01-02 00:00:00        87.000000       1.000000
25%              2019-12-05 00:00:00      8276.000000       2.000000
50%              2021-04-09 00:00:00     13068.000000       3.000000
75%              2022-07-27 00:00:00     26571.000000       3.000000
max              2023-12-29 00:00:00    997524.000000       8.000000
std                              NaN     46649.039342       0.740880

        Age of House     Price/SqFt  Price Difference    Price Ratio
count  111174.000000  111174.000000     111174.000000  111174.000000
mean       25.399248     162.667828      -1586.885198       1.005268
min         0.000000      31.721915    -213349.000000       0.437500
25%         5.000000     129.807692      -5000.000000       0.985714
50%        20.000000     156.794425          0.000000       1.000000
75%        36.000000     192.306737       4900.000000       1.016779
max       224.000000     296.662546      50000.000000      10.213552
std        24.156994      46.410157      14656.578783       0.059789

In [161]:
# Drop the current 'Total Baths' column
combined_sales_df.drop(columns=['Total Baths'], inplace=True)

# Calculate the new total baths column
combined_sales_df['Total Baths'] = combined_sales_df['FBths'] + 0.5 * combined_sales_df['HBths']

In [163]:
combined_sales_df.reset_index(drop=True, inplace=True)
combined_sales_df

,LvngAreaSF,YrBlt,Beds,FBths,HBths,Property Type,List Price,Sold Price,# of Rooms,Closing Date,...,County_Person,County_Randolph,County_Sampson,County_Vance,County_Wake,County_Warren,County_Wayne,County_Wilkes,County_Wilson,Total Baths
0,645,1925,1,1,0,Single Family Residence,47500,22500,4.0,2019-02-08,...,False,False,False,False,False,False,False,False,False,1.0
1,564,1957,2,1,0,Single Family Residence,27000,23500,4.0,2019-02-22,...,False,False,False,False,False,False,False,False,False,1.0
2,744,1959,2,1,0,Single Family Residence,29900,25500,5.0,2019-01-18,...,False,False,False,True,False,False,False,False,False,1.0
3,352,1990,1,1,0,Single Family Residence,32500,28000,2.0,2019-02-25,...,False,False,False,False,False,False,False,False,False,1.0
4,850,1950,2,1,0,Single Family Residence,29000,29000,5.0,2019-02-08,...,False,False,False,True,False,False,False,False,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111095,2366,2023,4,3,0,Single Family Residence,618230,618230,9.0,2023-10-26,...,False,False,False,False,True,False,False,False,False,3.0
111096,2653,2023,4,3,1,Single Family Residence,618651,618651,8.0,2023-09-08,...,False,False,False,False,True,False,False,False,False,3.5
111097,3171,2023,5,4,0,Single Family Residence,618879,618879,10.0,2023-07-19,...,False,False,False,False,False,False,False,False,False,4.0
111098,3146,1997,4,3,1,Single Family Residence,615000,619000,11.0,2023-05-12,...,False,False,False,False,True,False,False,False,False,3.5
111099,3016,1987,4,2,1,Single Family Residence,619000,619000,12.0,2023-06-26,...,False,False,False,False,True,False,False,False,False,2.5